@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
* {
  margin: 0;
  padding: 0; }

.nav {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, #060000e9, #ad3434, #ba0f0ff1, #060000f4);
  justify-content: space-between;
  align-items: center;
  height: 75px;
  box-shadow: 0 8px 7px #ba0f0fa0;
  position: fixed;
  top: 0;
  width: 100%; }
  .nav ul {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    align-items: center;
    padding: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block; }
    .nav ul::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 3px;
      height: 0;
      background: #230606dd;
      transition: height .8s; }
    .nav ul:hover::after {
      height: 100%; }
    .nav ul li {
      list-style-type: none; }
      .nav ul li .top {
        font-family: "Anta", sans-serif;
        font-size: 23px;
        text-decoration: none;
        color: #ba0f0fd5;
        margin-left: 30px; }
        .nav ul li .top:hover {
          color: #dbd2d2; }
  .nav .plataformas {
    display: flex; }
    .nav .plataformas .consolas {
      font-family: "Anta", sans-serif;
      font-size: 30px;
      display: flex;
      text-decoration: none;
      max-height: 50px;
      margin-right: 50px;
      padding: 5px 10px;
      position: relative;
      overflow: hidden;
      display: inline-block; }
      .nav .plataformas .consolas::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 4px;
        background: #230606f1;
        transition: width .8s; }
      .nav .plataformas .consolas:hover::after {
        width: 100%; }
      .nav .plataformas .consolas:hover {
        color: #dbd2d2; }
  .nav .titulo-res {
    font-family: "Anta", sans-serif;
    display: none;
    color: #060000aa; }
  .nav .box {
    position: relative; }
    .nav .box .input {
      padding: 10px;
      margin-right: 10px;
      width: 80px;
      height: 65px;
      background: none;
      border: 3px solid #BD1E1E;
      border-radius: 57px;
      box-sizing: border-box;
      font-family: "Anta", sans-serif;
      font-size: 26px;
      color: #dbd2d2;
      outline: none;
      transition: .5s; }
      .nav .box .input:hover {
        width: 300px;
        border-radius: 10px; }
    .nav .box i {
      position: absolute;
      margin-right: 10px;
      top: 50%;
      right: 15px;
      transform: translate(-50%, -50%);
      font-size: 26px;
      color: #BD1E1E;
      transition: .2s; }
      .nav .box i:hover {
        opacity: 0;
        color: #bd1e1e7a; }

@media screen and (max-width: 1149px) {
  .nav .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 30%;
    height: 29vh;
    background-color: rgba(0, 0, 0, 0.288);
    margin-top: 76px;
    opacity: 0.7; }
    .nav .menu a {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      margin: 5px 25px; }
  .nav .plataformas .consolas::after {
    left: 0%; }
  .nav .plataformas .consolas:hover::after {
    width: 180%; }
  .nav ul li .top {
    color: rgba(255, 255, 255, 0.749); }
    .nav ul li .top:hover {
      color: #120b0bd9; }
  .nav .titulo-res {
    display: block;
    text-align: left;
    font-size: 23px;
    margin-left: 5px; }
  .nav .box {
    margin-right: 30px; }
    .nav .box .input {
      height: 39px;
      font-size: 23px; }
      .nav .box .input:hover {
        color: #060000;
        font-family: "Anta", sans-serif; } }

@media screen and (max-width: 500px) {
  .nav .plataformas .w3-dropdown-hover .w3-dropdown-content {
    height: 179px;
    width: 42%; } }

.loop-slide {
  display: flex;
  overflow: hidden;
  margin-bottom: 0; }
  .loop-slide h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }
  .loop-slide .img-slide {
    display: flex;
    flex-direction: row;
    animation: slide-to-left 79s linear infinite;
    height: 100vh;
    width: 100vw;
    margin-top: 75px;
    z-index: -1; }

@keyframes slide-to-left {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-630%)); } }

.main-index {
  background-image: linear-gradient(39deg, #060000, #6b1f1ff3, #b21111f3, #060000f4);
  margin-top: 0;
  box-shadow: 0 -8px 7px #ba0f0fa0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 700px;
  width: 100%;
  padding-bottom: 13px; }
  .main-index .mb-index {
    width: 23%;
    margin: 10px;
    margin-left: 10px; }
    .main-index .mb-index a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main-index .mb-index a .mb-t {
        font-family: "Anta", sans-serif;
        font-size: 23px;
        text-align: center;
        margin-top: 0;
        transition: all 0.1s ease-in-out;
        padding: 8px;
        display: inline-block;
        position: relative; }
        .main-index .mb-index a .mb-t:hover {
          transform: scale(1.03); }
        .main-index .mb-index a .mb-t:before, .main-index .mb-index a .mb-t:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          transform: scale(0);
          transition: 1s; }
        .main-index .mb-index a .mb-t:before {
          border-bottom: 3px solid #060000c1;
          border-left: 3px solid #060000ba;
          transform-origin: 0 100%; }
        .main-index .mb-index a .mb-t:after {
          border-top: 3px solid #060000b9;
          border-right: 3px solid #060000b8;
          transform-origin: 100% 0%; }
        .main-index .mb-index a .mb-t:hover:before, .main-index .mb-index a .mb-t:hover:after {
          transform: scale(1); }
      .main-index .mb-index a .mb-img {
        height: 375px;
        width: 250px;
        margin-top: 5px;
        box-shadow: 0px 0px 7px 3px rgba(6, 0, 0, 0.55);
        transition: all 0.2s ease-in-out; }
        .main-index .mb-index a .mb-img:hover {
          box-shadow: 0px 0px 13px 9px rgba(6, 0, 0, 0.55);
          transform: scale(1.03); }

.vg-main {
  background-image: linear-gradient(39deg, #060000, #6b1f1ff3, #b21111f3, #060000f4);
  margin: 0;
  box-shadow: 0 -8px 7px #ba0f0fa0;
  margin-bottom: 0;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around; }
  .vg-main .vg-cover {
    width: 500px;
    height: 700px;
    margin: 15px 0px;
    box-shadow: 0px 0px 13px 9px rgba(6, 0, 0, 0.55);
    padding-bottom: 13px; }
  .vg-main .vg-description {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-around; }
    .vg-main .vg-description .vg-titulo {
      font-family: "Anta", sans-serif;
      font-size: 49px;
      text-align: center;
      margin-top: 10px;
      transition: all 0.1s ease-in-out;
      padding: 8px;
      display: inline-block;
      position: relative; }
      .vg-main .vg-description .vg-titulo:hover {
        transform: scale(1.03); }
    .vg-main .vg-description .vg-p {
      font-family: 'M PLUS Rounded 1c';
      font-size: 30px;
      transition: all 0.3 ease-in-out; }
    .vg-main .vg-description a {
      font-family: "Anta", sans-serif;
      font-size: 30px;
      text-align: center;
      text-decoration: none;
      transition: all 0.3 ease-in-out;
      padding-bottom: 10px; }
      .vg-main .vg-description a:hover {
        transform: scale(1.03); }

.vg-guia {
  background-image: linear-gradient(39deg, #060000, #6b1f1ff3, #b21111f3, #060000f4);
  display: flex;
  flex-direction: column; }
  .vg-guia h1 {
    padding-top: 80px;
    font-family: "Anta", sans-serif;
    color: #dbd2d2;
    padding-left: 30px; }
  .vg-guia .seccion-guia {
    display: flex;
    align-items: center;
    width: calc(100vw - 10%);
    margin-left: 5%;
    margin-right: 5%; }
    .vg-guia .seccion-guia .p-guia {
      font-family: "Anta", sans-serif;
      color: #dbd2d2;
      font-size: 20px;
      padding-left: 13px;
      text-indent: 5px; }
    .vg-guia .seccion-guia .img-guia {
      width: 25vw;
      margin-right: 20px;
      box-shadow: 0px 0px 13px 9px rgba(6, 0, 0, 0.55);
      transition: all 0.3s ease-in-out; }
      .vg-guia .seccion-guia .img-guia:hover {
        transform: scale(1.03); }

.footer {
  background-image: linear-gradient(to left, #060000e9, #ad3434, #ba0f0ff1, #060000f4);
  height: 45px;
  box-shadow: 0 -8px 7px #0600008d;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100%; }
  .footer .p-footer {
    font-family: "Anta", sans-serif;
    font-size: 13px;
    margin: 0;
    top: -50%; }
    .footer .p-footer a {
      text-decoration: none;
      transition: all 0.2s ease-in-out; }
      .footer .p-footer a:hover {
        text-decoration: underline;
        color: #dbd2d2; }
