@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

$fuente-titulo: "Anta", sans-serif;
$fuente-parrafo: 'M PLUS Rounded 1c';

$white: rgb(219, 210, 210);