.main-index {
    background-image: linear-gradient(39deg, #060000, #6b1f1ff3, #b21111f3, #060000f4);
    margin-top: 0;
    box-shadow: 0 -8px 7px #ba0f0fa0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 700px;
    width: 100%;
    padding-bottom: 13px;
    margin-bottom: 43px;

    .mb-index {
        width: 23%;
        margin: 10px;
        margin-left: 10px;

        a {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;

            .mb-t {
                font-family: "Anta", sans-serif;
                font-size: 23px;
                text-align: center;
                margin-top: 0;
                transition: all 0.1s ease-in-out;
                padding: 8px;
                display: inline-block;
                position: relative;

                &:hover {
                    transform: scale(1.03);
                }

                &:before,
                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    box-sizing: border-box;
                    transform: scale(0);
                    transition: 1s;
                }

                &:before {
                    border-bottom: 3px solid #060000c1;
                    border-left: 3px solid #060000ba;
                    transform-origin: 0 100%;
                }

                &:after {
                    border-top: 3px solid #060000b9;
                    border-right: 3px solid #060000b8;
                    transform-origin: 100% 0%;
                }

                &:hover:before,
                &:hover:after {
                    transform: scale(1);
                }
            }

            .mb-img {
                height: 375px;
                width: 250px;
                margin-top: 5px;
                box-shadow: 0px 0px 7px 3px rgba(6, 0, 0, 0.55);
                transition: all 0.2s ease-in-out;

                &:hover {
                    box-shadow: 0px 0px 13px 9px rgba(6, 0, 0, 0.55);
                    transform: scale(1.03);
                }
            }
        }
    }
}