.vg-guia {
    background-image: linear-gradient(39deg, #060000, #6b1f1ff3, #b21111f3, #060000f4);
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;

    h1 {
        a {
            font-size: 39px;
            text-decoration: none;
            padding: 13px;
            color: $white;
            display: inline-block;
            transition: transform 0.8s;

            &:hover {
                color: #060000;
                transform: rotate(360deg);
            }
        }

        padding-top: 13px;
        font-family: $fuente-titulo;
        color: $white;
        padding-left: 30px;
    }

    h2 {
        padding-top: 80px;
        font-family: $fuente-titulo;
        color: $white;
        padding-left: 30px;
        text-align: left;
        text-decoration: underline;
        padding-bottom: 13px;
    }
    .h2-right{
        padding-top: 80px;
        font-family: $fuente-titulo;
        color: $white;
        padding-right: 30px;
        text-align: right;
        text-decoration: underline;
        padding-bottom: 13px;
    }

    .seccion-guia {
        display: flex;
        align-items: center;
        width: calc(100vw - 10%);
        margin-left: 5%;
        margin-right: 5%;
        position: relative;

        .p-guia {
            font-family: $fuente-titulo;
            color: $white;
            font-size: 20px;
            padding: 18px;
            text-align: center;
            text-indent: 5px;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.01);
            }
        }


        .ul-guia {
            .lista-guia {
                list-style-type: none;
                font-family: $fuente-titulo;
                color: $white;
                font-size: 20px;
                padding: 18px;
                text-align: auto;
                text-indent: 5px;
                transition: all 0.3s ease-in-out;
            }
        }

        .img-guia {
            margin: 5px;
            width: 29vw;
            margin-right: 20px;
            box-shadow: 0px 0px 9px 7px rgba(6, 0, 0, 0.55);
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.03);
            }
        }

        .img-guia2 {
            margin: 5px;
            width: 29vw;
            margin-right: 20px;
            box-shadow: 0px 0px 20px 3px $white;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.03);
            }
        }


        .img {
            width: 43vw;
            box-shadow: 0px 0px 13px 9px rgba(6, 0, 0, 0.55);
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.03);
            }
        }

        .img2 {
            width: 43vw;
            box-shadow: 0px 0px 13px 9px $white;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.03);
            }
        }
    }

    .enlaces {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
        padding-top: 30px;

        .bn31 {
            background-image: linear-gradient(39deg, #060000, #6b1f1ff3, #b21111f3, #060000f4);
            border-radius: 40px;
            box-sizing: border-box;
            color: #060000;
            display: block;
            height: 70px;
            font-size: 18px;
            font-family: "Anta", sans-serif;
            padding: 2px;
            position: relative;
            text-decoration: none;
            margin: 13px;
            width: 300px;
            z-index: 2;

            &:hover {
                color: $white;
            }

            .bn31span {
                align-items: center;
                background: #32050553;
                border-radius: 40px;
                text-align: center;
                display: flex;
                justify-content: center;
                height: 100%;
                transition: background 0.5s ease;
                width: 100%;
                padding: 5px;
            }

            &:hover .bn31span {
                background: transparent;
            }
        }
    }
}