.vg-main {
    background-image: linear-gradient(39deg, #060000, #6b1f1ff3, #b21111f3, #060000f4);
    margin: 0;
    box-shadow: 0 -8px 7px #ba0f0fa0;
    margin-bottom: 0;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;

    .vg-cover {
        width: 500px;
        height: 700px;
        margin: 15px 0px;
        box-shadow: 0px 0px 13px 9px rgba(6, 0, 0, 0.55);
        padding-bottom: 13px;
        transition: all 0.3 ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }

    .vg-description {
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: space-around;

        .vg-titulo {

            font-family: "Anta",
                sans-serif;
            font-size: 49px;
            text-align: center;
            margin-top: 10px;
            transition: all 0.1s ease-in-out;
            padding: 8px;
            display: inline-block;
            position: relative;

            &:hover {
                transform: scale(1.03);
            }

            a {
                text-decoration: none;
                padding-right: 13px;

                &:hover {
                    color: $white;
                }
            }
        }

        .vg-p {
            font-family: $fuente-titulo;
            font-size: 30px;
            transition: all 0.3 ease-in-out;

            &:hover {
                transform: scale(1.03);
            }
        }

        .enlaces {
            display: flex;
            justify-content: space-around;
            padding-bottom: 30px;

            .bn31 {
                background-image: linear-gradient(39deg, #060000, #6b1f1ff3, #b21111f3, #060000f4);
                border-radius: 40px;
                box-sizing: border-box;
                color: #060000;
                display: block;
                height: 70px;
                font-size: 18px;
                font-family: "Anta",sans-serif;
                padding: 2px;
                position: relative;
                text-decoration: none;
                margin: 13px;
                width: 300px;
                z-index: 2;

                &:hover {
                    color: $white;
                    border: 0.4px solid #060000;
                }

                .bn31span {
                    align-items: center;
                    background: #32050553;
                    border-radius: 40px; 
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    transition: background 0.5s ease;
                    width: 100%;
                    padding: 5px;
                }

                &:hover .bn31span {
                    background: transparent;
                }
            }
        }
    }
}