.nav {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #060000e9, #ad3434, #ba0f0ff1, #060000f4);
    justify-content: space-between;
    align-items: center;
    height: 75px;
    box-shadow: 0 8px 7px #ba0f0fa0;
    position: fixed;
    top: 0;
    width: 100%;

    ul {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        align-items: center;
        padding: 20px;
        margin: 10px;
        position: relative; // se utiliza para establecer el contexto de posicionamiento para el seudoelemento ::after.
        overflow: hidden; //  asegura que el subrayado no se desborde del elemento.
        display: inline-block; //permite que el enlace tenga anchura y altura.

        &::after {
            content: ""; //establece el contenido del seudoelemento como vacío.
            position: absolute; // posiciona el subrayado de forma absoluta dentro del enlace
            top: 50%; //coloca el subrayado verticalmente en el centro del enlace
            right: 0; //lo coloca en el borde derecho del enlace.
            transform: translateY(-50%); // lo centra verticalmente.
            width: 3px; //establece el ancho del subrayado
            height: 0; // inicialmente establece la altura del subrayado como 0.
            background: #230606dd;
            transition: height .8s; // aplica una transición suave a la altura del subrayado
        }

        &:hover::after {
            height: 100%; // hace que la altura del subrayado sea del 100% cuando se pasa el ratón sobre el enlace, lo que produce el efecto de transición hacia arriba y hacia abajo
        }


        li {
            list-style-type: none;

            .top {
                font-family: "Anta", sans-serif;
                font-size: 23px;
                text-decoration: none;
                color: #ba0f0fd5;
                margin-left: 30px;

                &:hover {
                    color: #d10f0f;
                }
            }
        }
    }

    .plataformas {
        display: flex;

        .consolas {
            font-family: "Anta", sans-serif;
            font-size: 30px;
            display: flex;
            text-decoration: none;
            max-height: 50px;
            margin-right: 50px;
            padding: 5px 10px;
            // borde
            position: relative; // se utiliza para establecer el contexto de posicionamiento para el seudoelemento ::after.
            overflow: hidden; //  asegura que el subrayado no se desborde del elemento.
            display: inline-block; //permite que el enlace tenga anchura y altura.

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%; // Posiciona el inicio del subrayado en el centro horizontal del enlace
                transform: translateX(-50%); // Centra el subrayado horizontalmente
                width: 0; // Inicialmente, el subrayado no tiene ancho
                height: 4px;
                background: #230606f1;
                transition: width .8s; // Transición para el ancho del subrayado
            }

            &:hover::after {
                width: 100%;

            }
        }
    }

    .titulo-res {
        font-family: "Anta", sans-serif;
        display: none;
        color: #060000aa
    }

    .box {
        position: relative;

        .input {
            padding: 10px;
            margin-right: 10px;
            width: 80px;
            height: 65px;
            background: none;
            border: 3px solid #BD1E1E;
            border-radius: 57px;
            box-sizing: border-box;
            font-family: "Anta", sans-serif;
            font-size: 26px;
            color: #ba0f0fd5;
            outline: none;
            transition: .5s;

            &:hover {
                width: 300px;
                border-radius: 10px;
            }
        }

        i {
            position: absolute;
            margin-right: 10px;
            top: 50%;
            right: 15px;
            transform: translate(-50%, -50%);
            font-size: 26px;
            color: #BD1E1E;
            transition: .2s;

            &:hover {
                opacity: 0;
                color: #bd1e1e7a;
            }
        }
    }
}


@media screen and (max-width: 1149px) {
    .nav {

        .menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            min-width: 30%;
            height: 29vh;
            background-color: rgba(0, 0, 0, 0.288);
            margin-top: 76px;
            opacity: 0.7;

            a {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
                margin: 5px 25px;

            }

        }

        .plataformas {
            .consolas {
                &::after {
                    left: 0%;

                }

                &:hover::after {
                    width: 180%;

                }
            }
        }


        ul {
            li {
                .top {
                    color: rgba(255, 255, 255, 0.749);

                    &:hover {
                        color: #120b0bd9
                    }
                }
            }
        }

        .titulo-res {
            display: block;
            text-align: left;
            font-size: 23px;
            margin-left: 5px;
        }

        .box {
            margin-right: 30px;

            .input {
                height: 39px;
                font-size: 23px;

                &:hover {
                    color: #060000;
                    font-family: "Anta", sans-serif;

                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .nav{
        .plataformas{
            .w3-dropdown-hover{
                .w3-dropdown-content {
                    height: 179px;
                    width: 42%;
                }
            }
        }
    }
}